
.email-info h4, .language-info h4, .phone-info h4 {
  display: inline-block;
  text-align: left;
  margin: 5px 5px 5px 0px;
}

.update-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.back-to-chat {
  color: #358bd0;
  padding: 10px 20px;
}

.back-to-chat:hover {
  background-color: #e0e0e0;
}

.user-info, .email-info, .language-info, .phone-info {
  padding: 5px;
  margin:5px;
}

input {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid #848484;
  font-size: 17px;
  padding: 5px 0;
  width: 250px;
}

input:focus {
  outline: none;
}
